html {
  font-size: 1vw;
}

@font-face {
  font-family: 'ITC Garamond Condensed';
  src: url('ITCGaramondStd-LtCond.woff2') format('woff2'),
    url('ITCGaramondStd-LtCond.woff') format('woff'),
    url('ITCGaramondStd-LtCond.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ITC Garamond Book Narrow';
  src: url('ITCGaramondStd-BkNarrow.woff2') format('woff2'),
    url('ITCGaramondStd-BkNarrow.woff') format('woff'),
    url('ITCGaramondStd-BkNarrow.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT America';
  src: url('GT-America-Extended-Medium.woff2') format('woff2'),
    url('GT-America-Extended-Medium.woff') format('woff'),
    url('GT-America-Extended-Medium.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT America';
  src: url('GT-America-Extended-Thin.woff2') format('woff2'),
    url('GT-America-Extended-Thin.woff') format('woff'),
    url('GT-America-Extended-Thin.ttf') format('truetype');
  font-weight: thin;
  font-display: swap;
}
