.custom-scrollbar::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--chakra-colors-seedclub-pastelgreen);
  border: 1px solid var(--chakra-colors-seedclub-lightgreen);
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--chakra-colors-seedclub-white);
  border: 1px solid var(--chakra-colors-seedclub-lightgreen);
  border-radius: 8px;
}
